name: Development - Pull Request
permissions:
  contents: read
on:
  pull_request:
    branches:
      - '**'

jobs:
  lint-format:
    name: Linting Checks
    uses: ./.github/workflows/lint.yml

  build:
    needs: lint-format
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build Docker container
        run: |
          docker buildx build \
            --file=Dockerfile -t courses-api .
