name: Linting Checks
permissions:
  contents: read
on:
  workflow_call:

jobs:
  lint_and_format:
    name: Lint and Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@ce0a8994de8434fcf2a6517441306c6cd1c0ecf5 # v7
        with:
            enable-cache: true
            cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          uv sync

      - name: Check for code errors
        run: |
          uv run ruff check 

      - name: Check formatting
        run: |
          uv run ruff format --check
